<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='basestyle.css') }}">
    <title>{% block title%}Flask Website{% endblock %}</title>
</head>

<body>
    
<h1>Welcome to the Flask Website</h1>

<div class="container">
    {% block bodycontent %}
    {% endblock%}
</div>

    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>

</html>