{% extends "base.html" %} {% block title%}Homepage{% endblock %}

{% block bodycontent %}
    <h1>File Integrity Verification</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="algorithm">Select Hashing Algorithm:</label>
        <select name="algorithm" id="algorithm">
            <option value="sha256">SHA256</option>
            <option value="sha384">SHA384</option>
            <option value="sha512">SHA512</option>
            <option value="sha1">SHA1</option>
            <option value="md5">MD5</option>
        </select>
        <br>
        <label for="hash">Enter Hash:</label>
        <input type="text" name="hash" required>
        <br>
        <label for="file">Choose a File:</label>
        <input type="file" name="file" required>
        <br>
        <button type="submit">Verify</button>
    </form>
{% endblock%}