<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Result</title>
</head>
<body>
    <h1>Verification Result:</h1>
    <p>{{ result }}</p>
    <p>{{ computed_hash }} is the computed hash</p>
    <p>{{ user_hash }} is the user submitted hash</p>
</body>
</html>